@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');


html, body {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --charcoal: #0d1b2a;
  --marian-blue: #1e3a8a;
  --powder-blue: #98c1d9;
  --cerulean: #457b9d;
  --alice-blue: #E2E8F0;
}

/* Colores principales */
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: var(--alice-blue);
  color: var(--charcoal);
}

h1 {
  color: var(--alice-blue);
}

h2 {
  color: var(--marian-blue);
}

h3 {
  color: var(--cerulean);
}

button {
  background-color: var(--cerulean);
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: var(--marian-blue);
}

a {
  text-decoration: none;
  color: var(--marian-blue);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
