
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Asegura que todo el body y html ocupen la pantalla completa */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--alice-blue);
  font-family: "Segoe UI", sans-serif;
}

/* Ajustes opcionales para logo e imágenes */
.logo {
  height: 5em;
  margin: 0.5rem;
}

img {
  max-width: 100%;
  height: auto;
}


.card,
.read-the-docs {
  all: unset;
}
